---
---

@import "variables";
@import "bootstrap/bootstrap";


.starter-template {
  text-align: center;
  margin-top: 3rem;

  .lead {
    font-weight: 100;
  }
}
a {
 color: black;
}

h2 {
  padding-bottom: 15px;
  color: white;
  text-shadow: 3px 3px #827f7f;
}
.quotes {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 350;
  padding-top: 40px;
  padding-bottom: 0;
  color: black;
}
.quote_name {
  line-height: 1.5;
  color: black;
  font-weight: 350;
  font-size: 24px;
}
.container_main {
    box-shadow: 0 0 30px black;
    height: 425px;
    width: 1100px;;
    text-align: left;
    background: url("../land_smaller.png");
    // background-color: #74cedd;
}
