---
---

@import "variables";
@import "bootstrap/bootstrap";


.starter-template {
  text-align: center;
  margin-top: 3rem;

  .lead {
    font-weight: 100;
  }
}
a {
 color: black;
}

h2 {
  padding-bottom: 15px;
  color: white;
  text-shadow: 3px 3px #827f7f;
}
.quotes {
  line-height: 1.3;
  padding-top: 40px;
  color: #3d4044;
}
.quote_name {
  line-height: 1.3;
  color: #3d4044;
}
