---
---

@import "variables";
@import "bootstrap/bootstrap";


.starter-template {
  text-align: center;
  margin-top: 3rem;

  .lead {
    font-weight: 100;
  }
}
a {
 color: black;
}

h2 {
  padding-bottom: 15px;
  color: white;
  text-shadow: 3px 3px #827f7f;
}
.quotes {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 450;
  padding-top: 40px;
  padding-bottom: 0;
  color: black;
  font-style: italic;
}
.quote_name {
  line-height: 1.5;
  color: black;
  font-weight: 450;
  font-size: 24px;
  font-style: italic;
}
.container_main {
    box-shadow: 0 0 50px black;
    height: 290px;
    width: 700px;
    text-align: left;
    color: black;
    border-radius: 10px;
    background: white;
    display: inline-block;
    position: relative;
    background: rgba(255,255,255, 0.8);
    // opacity: 0.5;
    // background: url("../quote_with_image.png");
}

.wallpaper-ad {
    // opacity: 0.5;
    background: url('../oceanb.jpg') no-repeat center center scroll;
    height:100%; /* Depends on the image */
    width: 100%;
    position: absolute;
    z-index: -999;
}

@media only screen and (max-width:700px) {
    .container_main {
        // display: none;
      height: 80%;
      width: 90%;
      padding-bottom: 20px;
    }
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 800px;
    color: rgba(0, 0, 0, 1);
}
